{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi There! I'm Leo. A self-taught software developer transitioning from the field of economics,
          my experience in running a business has installed in me an entrepreneurial and teamwork mindset.
          This perspective enables me to approach software development holistically.
          I understand the importance of delivering value-driven products
          that align with market demands and enriches the lives of its users.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}